.comment-username {
  background-color: rgba(0, 128, 0, 0.639);
  color: rgb(251, 251, 251);
  padding: 3px;
  border-radius: 5px;
}

.comment-date {
  font-size: 0.8rem;
  font-style: italic;
}

.comment-input {
  width: 45%;
  height: 4rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(128, 128, 128, 0.424) y;
  padding: 0.3rem;
}

.comment-input-and-button {
  position: relative;
  margin: 1rem;
}

.comment-input:focus {
  outline: none;
}

.upload-comment-btn,
.upload-comment-btn:hover {
  background-color: rgb(76, 179, 8);
  border-radius: 20%;
  border: none;
  color: white;
  position: absolute;
  z-index: 1;
  right: 25%;
  bottom: -20%;
}
