@import url("https://fonts.googleapis.com/css?family=Handlee|Concert+One|Dosis|Montserrat+Alternates|Lato");

body {
  margin: 0px;
  background-color: rgb(252, 252, 252);
  font-family: Lato;
}

p {
  color: rgb(37, 37, 37);
}

input,
button,
textarea {
  font-family: Lato;
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
}

button {
  margin: 10px;
  background-color: inherit;
  border: solid 1px rgba(26, 183, 227, 0.663);
  border-radius: 10px;
  padding: 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

button:hover {
  background-color: inherit;
  border: solid 1px rgba(80, 80, 80, 0.9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
  transform: scale(1.04);
}

button:active {
  box-shadow: rgba(0, 0, 0, 0.368) 0px 1px 6px;
}

a {
  text-decoration: none;
  color: inherit;
}

/*
==========HEADER===============
*/

.navBarList {
  background-color: rgba(252, 252, 252, 0.704);
  list-style: none;
  margin: 0;
  padding: 0;
  flex: left;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.navBarListItem {
  display: inline-block;
}

.navBarListItemRight {
  float: right;
}

.navBarItemText,
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  font-family: Dosis;
}

.navBarItemText:hover,
.dropdown:hover .dropbtn {
  color: rgb(135, 134, 134);
}

.navBarItemText:active,
.dropdown:hover .dropbtn:active {
  color: rgb(111, 109, 109);
}

.navBarItemLink {
  color: black;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9e8;
  font-family: Dosis;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent .dropdownItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent .dropdownItem:hover {
  background-color: #cecece5f;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/*
==================MAIN_CONTENT===============
*/

.mainContentContainer {
  margin-top: 60px;
}

/*
HOME_PAGE===============
*/

.welcomeMessageContainer {
  text-align: center;
  font-family: Concert One;
  font-size: 2rem;
  color: #f2f2f2;
  background-image: url("https://images.unsplash.com/photo-1579546929662-711aa81148cf?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-position: center;
  background-size: cover;
}

.welcomeMessageContainer h1 {
  padding: 20px;
}

.additional-message {
  text-align: center;
  font-family: Concert One;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.908);
}

/*
POSTS_PAGE===============
*/

.postsPageContainer {
  overflow: hidden;
}

.postsContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.postsPageTitle {
  text-align: center;
}

/*
WRITE_PAGE===============
*/
.WritePageContainer {
  overflow: hidden;
}

.leftOfPage {
  float: left;
  width: 70%;
  background-color: transparent;
}

.rightOfPage {
  float: right;
  width: 28%;
  background-color: transparent;
}

.createPostInputIMG {
  border: 1.5px solid rgb(135, 134, 134);
  border-radius: 10px;
  padding: 3px 5px;
}

.chooseIMG {
  margin-top: 10px;
  color: black;
  display: inline-block;
}

.createPostIMG {
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 1px 4px;
  transition: 200ms;
}

.createPostContainer {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.createPostContainer,
.createPostSettingsContainer {
  background-color: white;
}

.createPostTitleInput {
  width: 30%;
  height: 1rem;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
  text-align: center;
  text-align: center;
}

.createPostTextInput {
  min-height: 200px;
  width: 80%;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
}

.submitButton {
  margin: 10px;
  background-color: inherit;
  border: solid 1px rgba(26, 183, 227, 0.663);
  border-radius: 10px;
  padding: 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submitButton:hover {
  background-color: inherit;
  border: solid 1px rgba(80, 80, 80, 0.9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
  transform: scale(1.04);
}

.createPostSettingsContainer {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
/*
PROFILE_PAGE===============
*/

/*
POST===============
*/
.post {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  min-width: 20%;
  max-width: 40%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 200ms;
  position: relative;
  z-index: 0;
}

.post:hover {
  box-shadow: rgba(0, 0, 0, 0.641) 0px 1px 7px;
}

.ctnPostIMG {
  width: 100%;
  height: 20rem;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postIMG {
  min-height: 100%;
}

.postContent {
  text-align: left;
  padding: 18px;
  padding-bottom: 30px;
}

.delete-post-btn {
  border: solid 1px rgba(227, 26, 26, 0.663);
  margin-bottom: 30px;
  margin-top: 0;
}

.userPostPrivacy,
.postDate {
  font-size: 0.9rem;
}

.userPostPrivacy {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.postDate {
  position: absolute;
  bottom: 0;
  left: 20px;
}
/*
==============FOOTER===============
*/

.footerContainer {
  text-align: center;
  clear: left;
}

/*
==============TEMPLATES===============
*/

/*
================POST PAGE =============
*/
.postPageContainer {
  display: flex;
}

.postPageLeftContainer {
  width: 70%;
  text-align: center;
  border-right: solid 1px rgba(128, 128, 128, 0.226);
}

.postPageRightContainer {
  width: 30%;
  text-align: center;
}

.postPagePostContainer {
  overflow: hidden;
}

.postPageIMG {
  border-radius: 1%;
  height: 25rem;
}

.postPageTitle {
  font-size: 2rem;
  max-width: 40%;
  margin: auto;
}

.postPagePostContent {
  text-align: justify;
  width: 60%;
  margin: auto;
  font-size: 1.2rem;
}

/*
================RECOMMENDED POST =============
*/

.recommendedText {
  font-size: 2rem;
  font-weight: 700;
}
.recommendedPostContainer {
  margin: 0px 20px;
  text-align: left;
  padding-bottom: 20px;
  border-bottom: #cecece5f solid 1px;
  margin-top: 20px;
}

.recommendedPostGrid {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 2fr;
}

.recommendedPostImgContainer {
  height: 8rem;
  width: 8rem;
  overflow: hidden;
  border: solid black 2px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}
.recommendedPostImg {
  height: 100%;
}

.recommendedPostTitleAndTeaserContainer {
  margin: auto;
}

.recommendedPostTitleAndTeaserContainer:hover {
  text-decoration: underline;
  cursor: pointer;
}
.recommendedPostTitle {
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0px;
}

.recommendedPostTeaser {
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

/*
=======LOADING=======
*/

.ctn-loading-triangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}

/*
=======THOUGHT BUBBLE=======
*/

.ctn-food-for-thought {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #cacaca00;
}
.food-for-thought-txt {
  margin: auto;
  width: 60%;
  text-align: center;
  font-family: Concert One;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.food-for-thought-title {
  font-size: 3rem;
  text-decoration: underline;
}
.food-for-thought-author {
  font-size: 1.5rem;
}

.thought {
  display: flex;
  background-color: rgb(166, 222, 180);
  padding: 20px;
  border-radius: 30px;
  min-width: 40px;
  max-width: 70%;
  min-height: 40px;
  margin: 60px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.thought:before,
.thought:after {
  content: "";
  background-color: rgb(166, 222, 180);
  border-radius: 50%;
  display: block;
  position: absolute;
  z-index: 0;
}
.thought:before {
  width: 44px;
  height: 44px;
  top: -12px;
  left: 28px;
  box-shadow: -50px 30px 0 -12px rgb(166, 222, 180);
}
.thought:after {
  bottom: -10px;
  right: 26px;
  width: 30px;
  height: 30px;
  box-shadow: 40px -34px 0 0 rgb(166, 222, 180),
    -28px -6px 0 -2px rgb(166, 222, 180), -24px 17px 0 -6px rgb(166, 222, 180),
    -5px 25px 0 -10px rgb(166, 222, 180);
}
