body {
  margin: 0px;
  background-color: rgb(252, 252, 252);
}

input:focus {
  outline: none;
}

textarea {
  resize: none;
}

/*
==========HEADER===============
*/

.navBarList {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #333;
  box-shadow: 5px 5px 15px -1px gray;
  flex: left;
  position: fixed;
  top: 0;
  width: 100%;
}

.navBarListItem {
  display: inline-block;
}

.navBarListItemRight {
  float: right;
}

.navBarItemText {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.navBarItemText:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(100, 100, 100);
}

.navBarItemText:active,
.dropdown:hover .dropbtn:active {
  background-color: #134074;
}

.navBarItemLink {
  color: white;
  text-decoration: none;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent .dropdownItem {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdownContent .dropdownItem:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdownContent {
  display: block;
}

/*
==================MAIN_CONTENT===============
*/

.mainContentContainer {
  padding: 15px;
  margin-top: 60px;
}

.welcomeMessageContainer {
  text-align: center;
}

/*
HOME_PAGE===============
*/

.homePageContainer {
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  background-color: white;
  overflow: hidden;
}

.featuredPostsContainer {
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.featuredPost {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  max-width: 28%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 200ms;
}

.featuredPost:hover {
  transform: scale(1.0078);
  box-shadow: rgba(0, 0, 0, 0.641) 0px 1px 7px;
}

.featuredPostIMG {
  height: 300px;
}

.featuredPostContent {
  text-align: left;
  padding: 18px;
}

/*
WRITE_PAGE===============
*/
.WritePageContainer {
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;

  overflow: hidden;
}

.leftOfPage {
  float: left;
  width: 70%;
}

.rightOfPage {
  float: right;
  width: 28%;
}

.createPostInputIMG {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.chooseIMG {
  margin-top: 10px;
  color: black;
  display: inline-block;
}

.createPostIMG {
  height: 300px;
  border-radius: 20px;
  margin: 20px;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 1px 4px;
  transition: 200ms;
}

.createPostContainer {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.createPostTextInput {
  min-height: 200px;
  width: 80%;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 10px;
  margin: 10px;
  padding: 5px 10px;
}

.submitButton {
  margin: 10px;
  background-color: inherit;
  border: solid 1px rgba(80, 80, 80, 0.5);
  border-radius: 10px;
  padding: 4px 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.submitButton:hover {
  background-color: inherit;
  border: solid 1px rgba(80, 80, 80, 0.9);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 6px;
  transform: scale(1.04);
}

.createPostSettingsContainer {
  overflow: hidden;
  border: rgba(0, 0, 0, 0.2) 1px solid;
  border-radius: 20px;
  margin: 20px 40px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/*
==============FOOTER===============
*/

.footerContainer {
  text-align: center;
}
