.loading-page-text {
  text-align: center;
}

.divider {
  border: #cecece5f solid 0.7px;
  width: 80%;
}

.heart {
  cursor: pointer;
  margin-top: 1rem;
  transition: 200ms;
}

.heart:hover {
  transform: scale(1.3);
}

.outlined-heart:hover {
  color: antiquewhite;
}
